
<div class="jumbotron mt-4">
    <h1 class="display-4">NotasWEB con NodeJS y MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, laboriosam.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum quod repudiandae veniam neque. Molestias!</p>
    <a href="https://www.youtube.com/" target="_blank" class="btn btn-primary">Youtube</a>
</div>